html {
  scroll-behavior: smooth;
}

body,
html {
  font-family: "Roboto Slab", serif;
  height: 100%;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

#content {
  display: flex;
  flex-direction: column;
}

.line-break-small {
  width: 10%;
}

.line-break-medium {
  width: 30%;
}

.line-break-large {
  width: 70%;
}

.nav {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 40;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.nav > * {
  z-index: 40;
}

.nav > .nav-links {
  display: inline;
  float: right;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: black;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > #nav-check {
  display: none;
}

.logo {
  height: auto;
}

.hero-content {
  height: 75vh;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./hero-img.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title {
  font-size: 3rem;
}

.about-info-wrapper {
  display: flex;
  align-items: center;
  padding: 48px;
  gap: 48px;
}

.about-img {
  width: 300px;
  height: auto;
  border-radius: 5% 70% 20%;
}

.about-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.menu-container {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 48px;
}

.menu-title {
  font-size: 3rem;
}

.menu-category-title {
  font-size: 2rem;
}

.menu-title,
.menu-category-title {
  margin: 24px 0px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 24px 0px;
}

.menu-item-name {
  font-weight: 700;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 112px 48px;
  height: 50vh;
}

.review-title {
  font-size: 2rem;
  margin: 0px;
}

.review-wrapper-wrapper {
  display: flex;
  gap: 96px;
  margin: 48px 0px;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.review-rating {
  font-size: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-color: #e0e0e0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 48px;
  padding: 48px;
  margin: 96px 0px;

  border-radius: 12px;
  background-color: #333333;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.contact-title {
  font-size: 2.5rem;
}

.contact-information,
.address-information,
.footer-links {
  display: flex;
  gap: 8px;
}

.contact-information,
.address-information {
  font-size: 1.5rem;
}

.address-information {
  flex-direction: column;
}

.contact-information {
  gap: 48px;
}

.contact-wrapper {
  display: flex;
}

.tel,
.email,
.address-information {
  font-weight: 700;
}

@media only screen and (min-width: 920px) {
  .nav {
    align-items: baseline;
  }

  .logo {
    width: 300px;
  }

  .about-content {
    height: 100vh;
  }

  .contact-content {
    align-items: center;
    height: 50vh;
    width: 50%;
  }

  .contact-title {
    align-self: center;
  }
}

@media (max-width: 920px) {
  .nav > .nav-btn {
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 126px;
    left: 0px;
  }
  .nav > .nav-links > a {
    width: 100%;
  }

  .nav-links {
    height: 0px;
  }

  .toggle-height {
    height: calc(100vh - 50px) !important;
    overflow-y: auto !important;
  }

  .about-content {
    padding: 128px 24px;
  }

  .about-info-wrapper {
    flex-direction: column;
  }

  .review-content {
    height: 100vh;
  }

  .review-wrapper-wrapper {
    flex-direction: column;
  }

  .contact-content {
    width: 75%;
  }

  .contact-title,
  .contact-information,
  .address-information {
    flex: 1;
  }

  .contact-information {
    display: flex;
    flex-direction: column;
  }
}
